- name: Deploy to EC2
  hosts: localhost
  connection: local

  tasks:
    - name: Identify running EC2 instances
      ec2_instance_info:
        region: us-east-1
        aws_access_key: ASIAQFYTMD4WOBTULPWK
        aws_secret_key: I96/qzHcGEh5lypS7Zi1KQ2srMoq1qA3OIxh+aE3
        security_token: IQoJb3JpZ2luX2VjEH4aCXVzLXdlc3QtMiJHMEUCIE3INUP5ILsSOkqH+huWvy9jrJ3YiWHYYHJoaJ7rf0V1AiEA7Kee/hqVzY8rL1ab+4wpmVtfRBs/TAo8dO71beJVThUqrwIIFxAAGgwwMTIzODg2NzEyNzYiDIT2U7ADtE8tA52BuyqMAqCIfGRR6zNtJvp6MBopW8Ug+qPR49zJAIb67wLQdYUIpbnxqiZ7kgvwoTfQUqzIlIT0p33p0i513AGlVwpsBR240Srwn8cLCJcJGDL0Vm3i0DY9CDydzZuGHcfq2xAxhWBtefJGx5yL2cdGlHONTePc1ax0/g4BteJEKtaPFIg/m1msvK9rftE5fvFn5q+0RebN/g74hTOsNaASZZ3mD0KXu1WM+g5VLwLGvHDzqbGcxaTsJxGC9ELpUUqzGVqzhiXutAoHTxhlApHxfmppSlX24mjiq+82AvTECRuA8BgeD5C2JbPXAmfkcvrfV5YrQdILStH3Sh6QsjtD74McMg3P1/vVExjghQn/t8Iwl6f/hAY6nQGq35TDs4l3rfyPCX8mrudqANFcJNx9HOcufd3M3acNBNcrqUo6WC1k764WsOnHCcbjLLpf2gfr9+SWNfez8l1sEub9AnsLW71uQ8Cg15SWfoL5T2vbbIiVFLvtjcOQi8jHb4EaM69P4MUF5DLJxhx1tUTQXxuNKS5788kJLydAnIk/MbrL2+3a3Ndo+NGFAQV0grnfbzEoPWhkhyd/
      register: info

    - name: Launch EC2 instance
      ec2:
        instance_type: t2.micro
        image: ami-07ee74e3f7a7faf2b
        region: us-east-1
        key_name: devops
        vpc_subnet_id: subnet-55497118
        assign_public_ip: yes
        wait: yes
        count: 1
        group: eshop
        aws_access_key: ASIAQFYTMD4WOBTULPWK
        aws_secret_key: I96/qzHcGEh5lypS7Zi1KQ2srMoq1qA3OIxh+aE3
        security_token: IQoJb3JpZ2luX2VjEH4aCXVzLXdlc3QtMiJHMEUCIE3INUP5ILsSOkqH+huWvy9jrJ3YiWHYYHJoaJ7rf0V1AiEA7Kee/hqVzY8rL1ab+4wpmVtfRBs/TAo8dO71beJVThUqrwIIFxAAGgwwMTIzODg2NzEyNzYiDIT2U7ADtE8tA52BuyqMAqCIfGRR6zNtJvp6MBopW8Ug+qPR49zJAIb67wLQdYUIpbnxqiZ7kgvwoTfQUqzIlIT0p33p0i513AGlVwpsBR240Srwn8cLCJcJGDL0Vm3i0DY9CDydzZuGHcfq2xAxhWBtefJGx5yL2cdGlHONTePc1ax0/g4BteJEKtaPFIg/m1msvK9rftE5fvFn5q+0RebN/g74hTOsNaASZZ3mD0KXu1WM+g5VLwLGvHDzqbGcxaTsJxGC9ELpUUqzGVqzhiXutAoHTxhlApHxfmppSlX24mjiq+82AvTECRuA8BgeD5C2JbPXAmfkcvrfV5YrQdILStH3Sh6QsjtD74McMg3P1/vVExjghQn/t8Iwl6f/hAY6nQGq35TDs4l3rfyPCX8mrudqANFcJNx9HOcufd3M3acNBNcrqUo6WC1k764WsOnHCcbjLLpf2gfr9+SWNfez8l1sEub9AnsLW71uQ8Cg15SWfoL5T2vbbIiVFLvtjcOQi8jHb4EaM69P4MUF5DLJxhx1tUTQXxuNKS5788kJLydAnIk/MbrL2+3a3Ndo+NGFAQV0grnfbzEoPWhkhyd/
      register: ec2

    - name: Add instance host to group
      add_host: hostname={{ item.public_dns_name }} groupname=launched
      with_items: '{{ec2.instances}}'

    - name: Wait for SSH connection
      wait_for: host={{ item.public_dns_name }} port=22 delay=30 timeout=300 state=started
      with_items: '{{ec2.instances}}'

- name: Configure EC2
  hosts: launched
  connection: ssh

  tasks:
    - name: Install docker
      apt:
        name: docker.io
        state: present
        update_cache: yes
      become: yes
    - service:
        name: docker
        state: started
        enabled: yes
      become: yes
    - name: Get project files from git
      git:
        repo: 'https://github.com/milenig/4it572-project.git'
        dest: ./app
    - name: Build docker with eshop
      shell: cd app && docker build -t myeshop:latest .
      become: yes
    - name: Run Docker with eshop
      shell: docker run -p 80:3000 myeshop
      async: 90
      poll: 10
      become: yes
    - wait_for:
        port: 80

- name: Terminate instances
  hosts: localhost
  connection: local

  tasks:
    - name: Terminate previous instances
      ec2:
        region: us-east-1
        state: 'absent'
        instance_ids: '{{ item.instance_id }}'
        aws_access_key: ASIAQFYTMD4WOBTULPWK
        aws_secret_key: I96/qzHcGEh5lypS7Zi1KQ2srMoq1qA3OIxh+aE3
        security_token: IQoJb3JpZ2luX2VjEH4aCXVzLXdlc3QtMiJHMEUCIE3INUP5ILsSOkqH+huWvy9jrJ3YiWHYYHJoaJ7rf0V1AiEA7Kee/hqVzY8rL1ab+4wpmVtfRBs/TAo8dO71beJVThUqrwIIFxAAGgwwMTIzODg2NzEyNzYiDIT2U7ADtE8tA52BuyqMAqCIfGRR6zNtJvp6MBopW8Ug+qPR49zJAIb67wLQdYUIpbnxqiZ7kgvwoTfQUqzIlIT0p33p0i513AGlVwpsBR240Srwn8cLCJcJGDL0Vm3i0DY9CDydzZuGHcfq2xAxhWBtefJGx5yL2cdGlHONTePc1ax0/g4BteJEKtaPFIg/m1msvK9rftE5fvFn5q+0RebN/g74hTOsNaASZZ3mD0KXu1WM+g5VLwLGvHDzqbGcxaTsJxGC9ELpUUqzGVqzhiXutAoHTxhlApHxfmppSlX24mjiq+82AvTECRuA8BgeD5C2JbPXAmfkcvrfV5YrQdILStH3Sh6QsjtD74McMg3P1/vVExjghQn/t8Iwl6f/hAY6nQGq35TDs4l3rfyPCX8mrudqANFcJNx9HOcufd3M3acNBNcrqUo6WC1k764WsOnHCcbjLLpf2gfr9+SWNfez8l1sEub9AnsLW71uQ8Cg15SWfoL5T2vbbIiVFLvtjcOQi8jHb4EaM69P4MUF5DLJxhx1tUTQXxuNKS5788kJLydAnIk/MbrL2+3a3Ndo+NGFAQV0grnfbzEoPWhkhyd/

      loop: '{{ info.instances }}'
      loop_control:
        label: '{{ item.instance_id }}'
